<?xml version="1.0"?>
<Settings>
  <Database>
    <PersonMaster>
      <Source></Source>
      <InitialCatalog></InitialCatalog>
      <UserId></UserId>
      <Password></Password>
    </PersonMaster>
  </Database>
  <Paths>
    <!--
          OldPersonmaster:

          Generated line-seperated file where line is like:

          {cprNo},{newPersonMasterID},{originalPersonMasterID}

          {newPersonMasterID} is used for looking up the current 
          (PK)[objectID] in [dbo].[T_PM_CPR]. 
          In order update the FOREIGN KEY [personMasterID] in 
          [{newPersonmaster}].[dbo].[T_PM_CPR] we have to do
          a Cascade UPDATE on the Primary key.
          In the given database Remember to set the UPDATE specification" 
          in relationen FK_PersonMaster_From_CPR to "Cascade".
    -->
    <OldPersonmaster></OldPersonmaster>
  </Paths>
</Settings>
