<?xml version="1.0"?>
<Settings>
  <Database>
    <!-- DPR Emulation SQL User -->
    <DprEmulation>
      <Source>?</Source>
      <InitialCatalog>?</InitialCatalog>
      <UserId>?</UserId>
      <Password>?</Password>
    </DprEmulation>
    <!-- CPR Broker SQL User-->
    <CprBroker>
      <Source>?</Source>
      <InitialCatalog>?</InitialCatalog>
      <UserId>?</UserId>
      <Password>?</Password>
    </CprBroker>
  </Database>
  <!-- DPR Emulation's CPR Broker QueueId -->
  <QueueId>?</QueueId>
  <!-- BatchClient.exe: {{DRIVE}}:\{{PATH_TO}}\CPRbroker\PART\Source\CprBroker\BatchClient\bin\Debug -->
  <BatchClientPath>?<BatchClientPath>
  <!-- Name of the download folder. -->
  <DownloadFolder>?</DownloadFolder>
  <!-- Copy link location for the .txt at: https://www.cpr.dk/kunder/gratis-download/postdistrikter-og-udtraeksbeskrivelse/ -->
  <PostDistrictTxtFile>?</PostDistrictTxtFile>
  <!-- Copy link location for the .zip file from "after the convertion of DARCPR"  -->
  <!-- The file is located at: https://www.cpr.dk/kunder/gratis-download/postdistrikter-og-udtraeksbeskrivelse/ -->
  <GeoLocationZipFile>?</GeoLocationZipFile> 
</Settings>